{% extends "layout.html" %}


{% block content %}


<section class="Bienvenida">


    <h1 class="display-4">Bienvenidos a Burra Faucet</h1>
    
    <p class="lead">Pagina para ganar criptomonedas de forma gratis,Entre mas participes mas ganaras.</p>
    
    </section>
    
    <body>
    
    
    <section class="Registro">
    
    <h4>Registrar una Cuenta</h4>
    
    <section> <input  class="controls" type="text"  name="nombre"   id="nombre" placeholder="Ingrese su Nombre"  > </section>
    
    <section> <input  class="controls" type="text"  name="Apellido" id="Apellido" placeholder="Ingrese su Apellido"  > </section>
    
    <section> <input  class="controls" type="email"  name="Correo"   id="Correo" placeholder="Ingrese su Correo"  > </section>
    
    <section> <input  class="controls" type="password"  name="Correo"   id="Correo" placeholder="Ingrese su contraseña"  > </section>
    
     
    
    <section class="mb-3">
    
    
    <section class="g-recaptcha" data-sitekey="6LfN3SwgAAAAAIJaehec4xypHnWNYSUzbAjD5FfU">  
      
    </section>
    
    </section>
    
    
    <p>Estoy de acuerdo con <a href="#">Terminos y condiciones</a>  </p>
    
    
    <!-- 
    <input class="botons" type="submit" value="Registrar"  >
    
    -->
    
    
    <a href="#" class="botons" type="submit" value="Registrar">Registrar</a>
    
    
    <p> <a href="inicio">Ya tengo una cuenta</a></p> 
    
    
    </section>
    
    </body>

{% endblock  %}