{% extends "layout.html" %}


{% block content %}


<!--Menu de inicio de sesion -->

<section class="Bienvenida">

<H1>Inicia Sesion en Arepa Faucet</H1>


</section>

<body>

<section class="Registro">
    
<h4>Iniciar Sesion</h4>
     
<section> <input  class="controls" type="email"  name="Correo"   id="Correo" placeholder="Ingrese su Correo"  > </section>
    
<section> <input  class="controls" type="password"  name="Correo"   id="Correo" placeholder="Ingrese su contraseña"  > </section>
    
     
    
<section class="mb-3">
    
    
<section class="g-recaptcha" data-sitekey="6LfN3SwgAAAAAIJaehec4xypHnWNYSUzbAjD5FfU">  
      
</section>
    
</section>
    
     
<input class="botons" type="submit" value="Iniciar sesion" href="#">
    
   
</section>
    
</body>

{% endblock  %}